@model List<TestePagueVeloz.Models.Fornecedor>

@{
    ViewData["Title"] = "Listar";
}

<h2>Fornecedores</h2>



<table class="table table-hover">
    <thead>
        <tr>
            <th style="display:none"></th>
            <th style="min-width:250px;">CPF  / CNPJ</th>
            <th style="min-width:250px;">Fornecedor</th>
            <th style="min-width:250px;">Empresa</th>
            <th style="min-width:250px;">Data de Cadastro</th>
            <th style="min-width:250px;"></th>
        </tr>
        <tr>
            <th style="display:none"></th>
            <th><input class="form-control" placeholder="Filtrar CPF / CNPJ..." id="filtroCpfCnpj" /></th>
            <th><input class="form-control" placeholder="Filtrar Fornecedor..." id="filtroFornecedor" /></th>
            <th></th>
            <th><input class="form-control" placeholder="Filtrar Data de Cadastro..." id="filtroDataDeCadastro" /></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fornecedor in Model)
        {
            <tr>
                <td id="idFornecedor" style="display:none">@fornecedor.FornecedorId</td>
                <td id="cpfOuCnpj">@fornecedor.CnpjOuCpf</td>
                <td id="fornecedor">@fornecedor.Nome</td>
                <td>@(fornecedor.Empresa != null ? fornecedor.Empresa.NomeFantasia : "") </td>
                <td id="dataDeCadastro">@fornecedor.DataDeCadastro.ToString("dd/MM/yyyy hh:MM")</td>
                <td>
                    @*@Html.ActionLink("Editar", "Editar", "Fornecedores", new { fornecedorId = fornecedor.FornecedorId }, new { @class = "btn btn-primary" })*@
                    <button class="btn btn-danger" onclick="deletar('/Fornecedores/Deletar?fornecedorId='+ @fornecedor.FornecedorId)">X</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="width:100%; text-align:right;">
    @Html.ActionLink("Cadastrar Fornecedor", "NovoFornecedor", "Fornecedores", null, new { @class = "btn btn-primary" })
</div>

<div style="display:none">
    <div id="dialog-confirm" title="Deletar Fornecedor?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>O fornecedor será deletado permanentemente. Você tem certeza?</p>
    </div>
</div>

<div style="display:none">
    <div id="dialog-viewAndEdit" title="Fornecedor">
        <div>
            <div class="row col-md-12 form-group">
                <label class="col-md-2">Nome</label>
                <div class="col-md-5">
                    <input id="nomeFornecedor" class="form-control " />
                </div>
            </div>
            <div class="row col-md-12 form-group">
                <label class="col-md-2">CPF / CNPJ</label>
                <div class="col-md-5">
                    <input id="idCpfOuCnpj" class="cpfOuCnpj form-control" />
                </div>
            </div>
            <div class="row col-md-12 form-group campoPessoaFisica">
                <label class="col-md-2">Data de Nascimento</label>
                <div class="col-md-5">
                    <input type="date" class="form-control " id="last-start-date" value="@string.Format("{0:dd/MM/yyyy}", DateTime.Now)" />
                </div>
            </div>
            <div class="row col-md-12 form-group">
                <label class="col-md-2">Empresa</label>
                <div class="col-md-5">
                    <select id="empresaDropDown" class="form-control " onchange="">
                        <option value="0">Selecione...</option>
                        @{

                            foreach (Empresa empresa in ViewBag.Empresas)
                            {
                                <option value="@empresa.EmpresaId">@empresa.NomeFantasia</option>
                            }

                        }
                    </select>
                </div>
            </div>
            <div class="row col-md-12 form-group campoPessoaFisica">
                <label class="col-md-2">Rg</label>
                <div class="col-md-5">
                    <input id="rg" class="form-control " />
                </div>
            </div>
            <div class="row col-md-12 form-group">
                <label class="col-md-2">Telefone</label>
                <div class="col-md-5">
                    <input id="telefone" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="~/lib/jqueryUi/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryUi/jquery-ui.theme.min.css" />
    <script type="text/javascript" src="~/lib/jqueryUi/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/Deletar.js"></script>
    <script type="text/javascript" src="~/js/filtro.js"></script>
    <script type="text/javascript" src="~/js/listarFornecedor.js"></script>
    <script type="text/javascript" src="~/lib/mascara/mascara.js"></script>



}

